<div id="main">
  <h2><%= t('h2.sabro_firsts') %></h2>
  <%= render :partial => "search" %>
  <div class="btn_t btn_add">
    <input type="button" class="btn_s" value="添加" onclick="location.href='/admin/sabro_firsts/new'"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>

  <%= will_paginate @sabro_firsts %>
<%= per_page_select_tag('per_page' ,{} , params[:per_page]|| 50 ,{}) %><br class="clear"/>
  <table class="data2 order-table">
    <tr>
      <th><%#= order_by_link :id,:text=>"ID"%></th>
      <th><%#= order_by_link :name, :text => SabroFirst.human_attribute_name("name") %></th>
      <th><%#= order_by_link :email, :text => SabroFirst.human_attribute_name("email") %></th>
      <th><%#= order_by_link :status, :text =>  SabroFirst.human_attribute_name("created_at") %></th>
      <th width="18%"><%= t('labels.operate') %></th>
    </tr>
    <% @sabro_firsts.each do |sabro_first| %>
      <tr class="<%= cycle("", "even") %>">
        <td><%= sabro_first.id %></td>
        <td><%= sabro_first.name %></td>
        <td><%= sabro_first.email %></td>
        <td><%= parse_date sabro_first.created_at %></td>
        <td>
          <%= link_to t('labels.edit'), edit_admin_sabro_first_path(sabro_first) %><br/>
          <%= link_to t('labels.delete'), admin_sabro_first_path(sabro_first), :confirm => "are your sure?", :method => :delete %><br/>
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @sabro_firsts %>

</div>
